TURSO_DATABASE_URL=libsql://
TURSO_AUTH_TOKEN=
JWT_SECRET=
BUCKET_NAME=
BUCKET_ID=
BUCKET_SECRET=
BUCKET_ENDPOINT=
STRIPE_SECRET=
STRIPE_WEBHOOK_SECRET=
IMAGE_PREFIX=R2 bucket link
ALLOWED_ORIGINS=https://kofi.nuez.dev,http://localhost:5173
